.main {
  margin-top: 4em;
  margin-bottom: 8em;
  width: 100%;
  max-width: var(--largura-conteudo);
  margin-inline: auto;
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.busca {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  > * {
    max-width: 480px;
  }
}

.filtros {
  justify-content: center;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: flex-end;
}

.grade {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.5em;
}
