.header {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-inline: 1em;
  gap: 5em;
}

.headerLogo {
  text-decoration: none;
  color: #fff;

   > p {
    font-size: 2rem;
   }
}

.headerLink{
  text-decoration: none;
  color: #fff;
  transition: 100ms ease-in-out;
  
  &:hover {
    opacity: 0.8;
  }
}