.container {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sideBar {
  background-color: #000;
}

.navBar {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2em;
}
